@import 'config/responsive-config';
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/reset';
@import 'base/typography';
@import 'utilities/responsive';

// Global Components & Elements
@import 'components/common';
@import 'components/buttons';

// Section Components
@import 'components/navbar';
@import 'components/hero';
@import 'components/about';
@import 'components/skills';
@import 'components/services';
@import 'components/projects';
@import 'components/contact';
@import 'components/footer';
